# Ignore Python cache and compiled files
__pycache__/

# Ignore virtual environments
venv/
env/

# Ignore database files
db.sqlite3


# Ignore VS Code and PyCharm settings
.vscode/
.idea/

# Ignore environment files
.env
